<h1> Login here! </h1>

<%= form_for @user, url: create_session_path do |f| %>
  <% flash.each do |key, value| %>
    <div class="<%= key %>"><%= value %></div>
  <% end %>
  <br>
  <div class="form-field">
  <%= f.label :email   %>
  <%= f.email_field :email %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  </div>
  <%= f.submit "Login", :class => "btn btn-success" do %>
  <i style="color: red;" class="glyphicon glyphicon-plus"></i>
  <% end %>

<% end %>
