
<div class="homepage" style="padding-top: 150px; height: 800px; background-image: url(assets/images/showus.jpg); background-size: 100%, no-repeat;" >
  <h1 id="loginheader"> Welcome to the club! </h1>


  <p id="intro">Welcome to the secret society of basketball nerds, joining is as simple as registering an account! </p>

  <div class="button">
    <%= link_to new_user_path do %>
    <id="register" class="btn btn-large btn-warning">Register
    <% end %>
    <% if current_user %>
      <%= link_to destroy_session_path do %>
      <id="logout" class="btn btn-large btn-warning">Logout</id="logout">
      <% end %>

  <% else %>
  <%= render "layouts/register/login_modal" %>
  <%= link_to "Login", "#login", "data-toggle" => "modal", :class => 'btn btn-large btn-warning' %>

    <% end %>
  <% flash.each do |key, value| %>
  <div class="<%= key %>"><%= value %></div>
  <% end %>
  </div>
</div>

