<div class="prof-bg" style="background-image: url(/assets/images/flcl.jpg)">
<h1 id="profhead"> Welcome!<%= @user.name %> </h1>

<div class="prof-props">
  <p id="prof-intro">Welcome to your profile, you can check out your posts,
  <br>
   and your comments here.
  <br>
  <br>
  <br>
  <br>
  </p>
    <p id="info-head">
      Info
    </p>
  Name: <%= @user.name %>
  <br>
  Email: <%= @user.email %>

</div>
<br>
<br>
<br>
<br>
<div class="prof-posts">
  <p id="prof-post-intro">
  These are your posts:
  </p>
  <ul class="prof-post-list-group">
    <% @user.posts.each do |post| %>
    <li class="prof-post-list-group-item" %>
      <%= link_to post.title, post_path(post.id) %>
    </li>
    <% end %>
  </ul>
</div>
<div class="prof-comments">
  <p id="prof-comments-intro">
  These are your comments:
  </p>
  <ul class="prof-list-group">
    <% @user.comments.each do |comment| %>
    <li class="prof-list-group-item">
      <%= link_to comment.body, post_path(comment.post.id) %>
    </li>
    <% end %>
  </ul>
</div>
<br>
<br>
<%= link_to posts_path do %>
  <id="return-btn" class="btn btn-lg btn-default"> Return to posts </id="return-btn">
<% end %>
<div class="edit-user-btn">
<% if current_user.id == @user.id %>
  <%= link_to edit_user_path do %>
    <id="edit-user-btn" class="btn btn-lg btn-default">Edit User
  </id="edit-user-btn">
    <% end %>
  <% end %>
  </div>
</div>
