
<h1> <%= @post.title %> </h1>
<br>
<br>
<!-- <div class="embed-container">
(give this a size)
  <%= youtube_video @post.youtube_url %>
</div> -->
<%= @post.body %>

<div class="embed-container">
  <%= embed(@post.youtube_url) %>
</div>

<ul class="list-group">
  <%  @post.comments.each do |comment|%>
    <li class="list-group-item">
    <%= comment.body %>
    </li>
<% end %>
</ul>

<% if current_user == @post.user %>

<%= link_to "Edit this post", edit_post_path(@post.id) %>
<%= link_to "Remove this post.", post_path(@post.id), method: :delete %>

<% end %>




<%= render "posts/modal/comment_modal" %>
<%= link_to "Add a comment!", "#comments", "data-toggle" => "modal", :class=> 'btn btn-large btn-primary' %>
