<div class="post-bg" style="padding-top :15px; padding-bottom: 20px; background-image: url(/assets/images/sriracha.png">
<h1 id="post-title"> <%= @post.title %> </h1>
<div class="return-btn">
<%= link_to posts_path do %>
  <id="return-btn" class="btn btn-med btn-primary">Return to all posts</id="return-btn">
  <% end %>
</div>
<br>
<% if current_user == @post.user %>
<div class="show-btns">
<%= link_to edit_post_path(@post.id) do %>
  <id="edit-post" class="btn btn-med btn-info">Edit your post!</id="edit-post">
  <% end %>
<%= link_to post_path(@post.id), method: :delete do %>
  <id="dlt-post" class="btn btn-med btn-danger">Delete your post</id="dlt-post">
  <% end %>

<% end %>
<br>
<br>
<div class="post-body">
<%= @post.body %>
</div>
<div class="post-container">
  <%= embed(@post.youtube_url) %>
</div>

<div class="cmt-mod">
  <%= render "posts/modal/comment_modal" %>
  <%= link_to "Add a comment!", "#comments", "data-toggle" => "modal",:id=>"cmt-mod", :class=> 'btn btn-large btn-primary' %>
</div>
<br>
<br>

<div class="comments-list"
<ul class="list-group">
  <%  @post.comments.each do |comment|%>
    <li class="list-group-item">
    <%= comment.body %>
    </li>
<% end %>
</ul>
</div>




</div>
